<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tin.projectlist.app.model.oldBook">


    <!-- 外部存储读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问当前网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 安装包的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:name="com.tin.projectlist.app.model.oldBook.common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >


        <!-- 适配Android 7.0文件意图 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- 启动页面（因为使用了LauncherTheme，所以不要给这个Activity设置screenOrientation属性，会导致崩溃） -->
        <activity
            android:name="com.tin.projectlist.app.model.oldBook.core.splash.LauncherActivity"
            android:theme="@style/LauncherTheme">
            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 主页界面 -->
        <activity
            android:name="com.tin.projectlist.app.model.oldBook.core.home.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="i5w58n"/>
            </intent-filter>

        </activity>

        <!-- 关于界面 -->
        <activity
            android:name="com.tin.projectlist.app.model.oldBook.ui.activity.AboutActivity"
            android:label="@string/about_title" >
            <!-- 要想在别的App上能成功调起App，必须添加intent过滤器 -->

            <!-- 协议部分，随便设置 -->
            <intent-filter>
                <!--协议部分，随便设置-->
                <data android:scheme="scheme" android:host="geebook" android:path="/about" />
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

        </activity>


    </application>



</manifest>
