<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tin.projectlist.app.model.oldBook">
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <!-- 外部存储读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 安装包的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:name="com.tin.projectlist.app.model.oldBook.common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >


        <!-- 适配Android 7.0文件意图 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- 启动页面（因为使用了LauncherTheme，所以不要给这个Activity设置screenOrientation属性，会导致崩溃） -->
        <activity
            android:name="com.tin.projectlist.app.model.oldBook.core.splash.LauncherActivity"
            android:theme="@style/LauncherTheme">
            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 主页界面 -->
        <activity
            android:name="com.tin.projectlist.app.model.oldBook.core.home.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="i5w58n"/>
            </intent-filter>
        </activity>

        <!-- 关于界面 -->
        <activity
            android:name="com.tin.projectlist.app.model.oldBook.ui.activity.AboutActivity"
            android:label="@string/about_title" >
        </activity>
        <!-- 登录 -->
        <activity
            android:name="com.tin.projectlist.app.model.oldBook.core.login.LoginActivity"
            android:label="@string/login" >
        </activity>
        <!-- 注册 -->
        <activity
            android:name="com.tin.projectlist.app.model.oldBook.core.register.RegisterActivity"
            android:label="@string/register_title" >
        </activity>
        <!-- 图书详情 -->
        <activity
            android:name="com.tin.projectlist.app.model.oldBook.core.book.BookDetailActivity"
            android:label="@string/bookDetail_title" >
        </activity>

        <!-- 图书详情 -->
        <activity
            android:name="com.tin.projectlist.app.model.oldBook.core.read.ReadActivity"
            android:label="@string/register_title" >
        </activity>

<!--        bomb    -->
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.tin.projectlist.app.model.oldBook.BmobContentProvider">
        </provider>

    </application>



</manifest>
